* {
	margin: 0;
	padding: 0;
}
/* 输入框 */
.inputbox {
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
}
/* 按钮 */
.button-focus {
	height: 50px;
	border: 1px solid #fff;
	border-radius: 2px;
	background-color: #fff;
	padding: 0 37px;
	color: #000;
}
.button-unfocus {
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
	padding: 0 37px;
	color: #fff;
}
/* 文字：light字体 大写 */
.light-upper {
	font-family: "Montserrat";
	font-weight: 300;
	text-transform: uppercase;
}
.light {
	font-family: "Montserrat";
	font-weight: 300;
}
/* 文字：extralight字体 */
.extralight {
	font-family: "Montserrat";
	font-weight: 200;
}
.white {
	color: #fff;
}
.black {
	color: #000;
}
/* 设置绝对定位元素水平居中 */
.align-center {
	left: 50%;
	transform: translateX(-50%);
}
/* feature页面统一设置 */
.feature {
	position: relative;
	width: 100%;
	background-color: #fff;
}

body {
	width: 100%;
	height: 100%;
}
/* header 1600*990 */
header {
	position: relative;
	width: 1600px;
	padding-bottom: 61.875%;
	background-image: url("./images/header-background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
h1 {
	position: absolute;
	top: 201px;
	font-size: 62px;
}
#header-text {
	position: absolute;
	top: 339px;
	width: 767.92px;
	height: 169.98px;
	text-align: center;
	font-size: 20px;
	line-height: 32px;
}
#signup {
	position: absolute;
	top: 530px;
	width: 970px;
	height: 250px;
}
#signup-text1 {
	position: absolute;
	top: 59px;
}
#signup-text2 {
	position: absolute;
	top: 91px;
	color: rgba(255, 255, 255, 0.3);
}
#signup-form {
	position: absolute;
	top: 148px;
	width: 769px;
	display: flex;
	justify-content: space-between;
}
#signup-email {
	width: 292px;
	padding: 0 19px;
	box-sizing: border-box;
	font-family: "Montserrat";
	font-weight: 300;
	font-size: 14px;
	color: #fff;
}
#signup-password {
	width: 292px;
	padding: 0 19px;
	box-sizing: border-box;
	font-family: "Montserrat";
	font-weight: 300;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.3);
}

/* feature 1 1600*710 */
#feature1 {
	position: relative;
	width: 1600px;
	padding-bottom: 44.375%;
}
#feature1-text {
	position: absolute;
	top: 87px;
	font-size: 14px;
	line-height: 28px;
}
#feature1-title {
	position: absolute;
	top: 133px;
	width: 770.97px;
	height: 95.24px;
	font-size: 42px;
	text-align: center;
}
#feature1-features {
	position: absolute;
	top: 317px;
	width: 1036px;
	height: 277px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	list-style-type: none;
}
#feature1-features li {
	display: inline-block;
	flex-basis: 40%;
}
#feature1-features li h3 {
	margin-bottom: 20px;
	margin-left: 80px;
	font-size: 20px;
}
#feature1-features li p {
	margin-left: 80px;
	width: 370px;
	font-size: 16px;
	line-height: 26px;
}
#feature1-features li div {
	float: left;
	width: 50px;
	height: 50px;
}
#feature1-features li div img {
	float: right;
}

/* call to action 1600*800 */
#call-to-action {
	position: relative;
	width: 1600px;
	padding-bottom: 50%;
	background-image: url("./images/call-background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#call-title {
	position: absolute;
	left: 315px;
	top: 176px;
	width: 400px;
	font-size: 42px;
	line-height: 52px;
}
#call-text {
	position: absolute;
	left: 315px;
	top: 364px;
	width: 369.44px;
	font-size: 18px;
	line-height: 28px;
	word-wrap: break-word;
}
#call-form {
	position: absolute;
	left: 315px;
	top: 554px;
	width: 510px;
	display: flex;
	justify-content: space-between;
}
#call-form button {
	box-sizing: border-box;
	width: 240px;
	height: 60px;
	font-size: 12px;
}