* {
	padding: 0;
	margin: 0;
	border: 0;
	background: transparent;
	font-size: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	display: flex;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
*::-webkit-scrollbar {
    width: 0;
}

.notification,
.alert {
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	height: 24px;
	float: right;
	line-height: 24px;
	color: #fff;
	font-size: 14px;
	border-radius: 12px;
}
.notification {
	background-color: #1991eb;
}
.alert {
	background-color: #f45438;
}
.name {
	font-size: 16px;
	color: #585d68;
}
.source {
	font-size: 14px;
	color: #b5b5b5;
}
.time {
	font-size: 14px;
	color: #7f8fa4;
}
.content {
	font-size: 14px;
	color: #585d68;
}
.divider {
	height: 1px;
	background-color: #7f8fa4;
	text-align: center;
}
.divider span {
	position: relative;
	top: -8px;
	padding: 0 10px 0;
	font-size: 14px;
	color: #7f8fa4;
	background-color: #fff;
}
.new {
	background-color: #2399f1;
}
.new span {
	color: #2399f1;
}

/* primary 固定宽度100 高度自适应 */
#primary {
	position: relative;
	width: 100px;
	background-color: #1d2531;
}
#items {
	position: fixed;
	top: 20px;
	width: 80px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#items a {
	position: relative;
	width: 60px;
	height: 60px;
	padding-left: 20px;
	display: block;
}
#items a img {
	position: absolute;
}
#items a img:last-child {
	left: 50px;
	top: 50%;
	transform: translate(-50%, -50%);
}
#item a:link,
#item a:visited {}
#items a:hover,
#items a:active {
	background: url("./img/pri-active.png") no-repeat border-box 0px;
}
#actions {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 60px;
	display: flex;
	justify-content: space-between;
}

/* secondary 固定宽度250 高度自适应 */
#secondary {
	position: relative;
	width: 250px;
	height: 100%;
	background-color: #222c3c;
	overflow-y: scroll;
}
#secondary div {
	position: relative;
	margin-right: 30px;
}
#secondary div p:first-child {
	margin-bottom: 39px;
	margin-left: 30px;
	display: inline-block;
	text-transform: uppercase;
	color: #5b6779;
	font-size: 12px;
}
#secondary div>a {
	float: right;
}
#secondary div li {
	padding-left: 30px;
	margin-bottom: 26px;
}
#secondary div li:last-child {
	margin-bottom: 30px;
}
#secondary div li a {
	color: #b7c0cd;
	font-size: 14px;
}
#secondary div li img {
	margin-right: 10px;
}
#secondary .notification,
#secondary .alert {
	margin-right: 0;
}
#secondary div li:link,
#secondary div li:visited {}
#secondary div li:hover,
#secondary div li:active {
	background: url("./img/pri-active.png") no-repeat border-box 0px;
}
#secondary>div:nth-child(1) {
	top: 32px;
	border-bottom: 1px solid #2a3547;
}
#secondary>div:nth-child(2) {
	top: 60px;
	border-bottom: 1px solid #2a3547;
}
#secondary>div:nth-child(3) {
	top: 88px;
	margin-bottom: 100px;
}
#secondary #server {
	position: fixed;
	bottom: 0;
	padding: 0 30px;
	width: 250px;
	height: 60px;
	box-sizing: border-box;
	background-color: #222c3c;
	border: 1px solid #2a3547;
}
#secondary #server p {
	position: absolute;
	display: inline-block;
	margin: 0;
	text-transform: none;
	font-size: 14px;
	color: #fff;
}
#secondary #server p:first-of-type {
	left: 30px;
}
#secondary #server p:last-of-type {
	right: 30px;
}
#secondary #server div {
	position: absolute;
	bottom: 20px;
	height: 4px;
	margin: 0;
}
#secondary #server div:first-of-type {
	width: 190px;
	background-color: #475364;
}
#secondary #server div:last-of-type {
	width: 40px;
	background-image: linear-gradient(#7f5be6, #9d8fe3);
}

/* 右侧白色，自适应宽度 */
#messages {
	display: flex;
	position: relative;
	width: calc(100% - 100px - 250px);
	background-color: #fff;
}
#messages h1 {
	position: absolute;
	top: 25px;
	left: 30px;
	font-size: 24px;
	font-weight: normal;
	color: #354052;
}
#messages #topbar {
	position: fixed;
	width: inherit;
	height: 80px;
	box-sizing: border-box;
	border: 1px solid #e6e9ec;
	background-color: #fff;
	z-index: 1;
}
#profile {
	position: relative;
	margin-left: calc(100% - 230px);
	width: 230px;
	height: 80px;
}
#profile img {
	position: absolute;
	top: 14px;
	right: 180px;
}
#profile img:first-of-type {
	top: 47px;
	right: 183px;
}
#profile p {
	position: absolute;
	right: 85px;
	width: 85px;
}
#profile p:first-of-type {
	top: 20px;
	color: #2399f1;
	font-size: 16px;
}
#profile p:last-of-type {
	top: 42px;
	color: #b5b5b5;
	font-size: 14px;
}
#profile button {
	position: absolute;
	right: 30px;
	top: 35px;
	width: 11px;
	height: 7px;
	cursor: pointer;
	background-image: url("./img/pro-button.png");
}

/* chats 宽度固定400 */
#chats {
	position: relative;
	margin-top: 80px;
	width: 400px;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid #e6e9ec;
	overflow-y: scroll;
}
#chats div {
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid #e6e9ec;
}
#chats>div:last-child {
	margin-bottom: 80px;
}
#chats .search {
	padding: 17px 30px;
}
#chats .search form {
	width: 340px;
	height: 36px;
	padding: 0 14px 0;
	box-sizing: border-box;
	border: 1px solid #e6e9ec;
	border-radius: 4px;
}
#chats .search input {
	width: 290px;
	height: 36px;
	font-size: 14px;
	color: #9fa9ba;
}
#chats .search button {
	float: right;
	width: 20px;
	height: 36px;
	cursor: pointer;
	background: url("./img/chats-search.png") no-repeat center;
}
#chats .chat {
	height: 130px;
	padding: 15px 30px;
}
#chats .chat img {
	float: left;
	margin-right: 20px;
}
#chats .chat .name {
	margin-bottom: 6px;
}
#chats .chat .source {
	margin-bottom: 17px;
}
#chats .chat .time {
	position: absolute;
	right: 30px;
	top: 15px;
}
#chats .chat .content {
	width: 350px;
	height: 40px;
}
#chats .chat .online {
	padding-left: 80px;
	color: #0af;
	background: url("./img/chats-online.png") no-repeat border-box 65px;
}
#chats .chat .notification {
	position: absolute;
	right: 30px;
	bottom: 30px;
}
#chats .chat .with-notification {
	width: 310px;
}
#chats .chat:hover,
#chats .chat:active {
	background: url("./img/chats-highlight.png") no-repeat border-box 0px;
}

/* open-chat 自适应宽度 最小500 */
#open-chat {
	min-width: 500px;
	width: calc(100% - 400px);
	height: 100%;
	margin-top: 80px;
	overflow-y: scroll;
}
#chat-top {
	position: relative;
	height: 70px;
	border-bottom: 1px solid #e6e9ec;
	overflow: hidden;
}
#chat-top #profile-name {
	float: left;
	height: 70px;
	padding: 25px 0px 25px 25px;
	box-sizing: border-box;
}
#chat-top #profile-name p {
	display: inline-block;
	margin-right: 10px;
	font-size: 18px;
	color: #585d68;
}
#chat-top #chats-one-of {
	float: right;
	height: 70px;
	padding: 20px 20px 20px 0px;
	box-sizing: border-box;
}
#chat-top #chats-one-of p {
	float: left;
	display: inline-block;
	margin-right: 16px;
	line-height: 30px;
	font-size: 14px;
	color: #56688a;
}
#chat-top #chats-one-of button {
	float: left;
	width: 36px;
	height: 32px;
	cursor: pointer;
}
#chat-top #chats-one-of button:first-of-type {
	background-image: url("./img/open-left.png");
	border-right: 1px solid #ced0da;
}
#chat-top #chats-one-of button:last-of-type {
	background-image: url("./img/open-right.png");
}

#chat-top #tools {
	float: right;
	height: 70px;
	padding: 20px 45px 20px 0px;
	box-sizing: border-box;
}
#chat-top #tools button {
	float: left;
	width: 36px;
	height: 32px;
	cursor: pointer;
}
#chat-top #tools button:first-of-type {
	background-image: url("./img/open-user.png");
	border-right: 1px solid #ced0da;
}
#chat-top #tools button:nth-of-type(2) {
	background-image: url("./img/open-upload.png");
	border-right: 1px solid #ced0da;
}
#chat-top #tools button:last-of-type {
	background-image: url("./img/open-trash.png");
}
#open-chat .message {
	position: relative;
	padding: 30px 30px 0px;
}
#open-chat .message img:first-child {
	position: absolute;
}
#open-chat .message .name {
	display: inline-block;
	margin-left: 66px;
}
#open-chat .message .time {
	display: inline-block;
	margin-left: 8px;
}
#open-chat .message .content {
	margin-left: 66px;
	margin-top: 6px;
}
#open-chat .message .mask {
	display: inline-block;
	width: 156px;
	height: 100px;
	margin-top: 20px;
	margin-right: 15px;
}
#open-chat .message .mask:nth-of-type(1) {
	margin-left: 66px;
}
#open-chat .mask .photo {
	position: relative;
}
#open-chat .mask .photo-focus {
	position: absolute;
	width: 156px;
	height: 100px;
	box-sizing: border-box;
	background-color: rgba(40, 48, 60, 0.7);
	border-radius: 4px;
	opacity: 0;
}
#open-chat .mask .photo-focus button {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background-image: url("./img/open-open.png");
	cursor: pointer;
	border-radius: 25px;
}
#open-chat .mask:hover .photo-focus {
	opacity: 1;
}
#open-chat .divider {
	margin-top: 30px;
	width: 100%;
}
#open-chat #write-new {
	height: 54px;
	margin: 30px 30px 90px;
	border: 1px solid #dfe3e9;
	border-radius: 4px;
}
#open-chat #write-new button {
	float: left;
	width: 54px;
	height: 54px; 
	background-image: url("./img/open-add.png");
	cursor: pointer;
}
#open-chat #write-new input {
	float: right;
	width: calc(100% - 54px);
	padding: 0 14px 0;
	box-sizing: border-box;
	height: 54px;
	font-size: 14px;
	color: #585d68;
	text-overflow: ellipsis;
}