html {
	font-size: 10px;
	height: 100%
}
* {
	margin: 0;
	padding: 0;
}
h1, h2 {
	padding-bottom: 0.5em;
}
h1 {
	font-size: 3em;
}
body {
	height: 100%;
}
body > div:first-child {
	box-sizing: border-box;
	padding: 3em;
	height: 100%;
	float: left;
	color: white;
	background-color: #65a5fa;
}
h2 {
	font-size: 2em;
	padding-bottom: 0.75em; /*15px*/
}
dt, dd {
	font-size: 1.5em;
}
dl > dt,dd {
	display: inline-block;
}
body > div {
	padding-bottom: 1.5em; /*15px*/
}
dl > div:not(:last-child) {
	padding-bottom: 1em; /*10px*/
}
dt {
	font-weight: bold;
}
dl > dt {
	padding-right: 0.5em; /*7.5px*/
}
dl > dd {
	padding-right: 1em; /*15px*/
}
