* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
h1, h2 {
  text-align: center;
  line-height: 1.5;
  color: hotpink;
}
h1 {
  font-size: 3em;
  text-shadow: 0.1em 0.1em 0.1em pink;
  background-color: #FFFFCC;
  border: 0.1em dashed hotpink;
}
h2 {
  font-size: 2em;
}
dl, h3 {
  color: pink;
  line-height: 1.5;
  text-align: center;
}
dt {
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5em;
}
dd {
  display: inline-block;
  margin-right: 1em;
}
dd + dt::before {
  content: "|" ;
  padding-right: 1em;
}
a {
  text-decoration: none;
}
a:link {
  color: pink;
  border-bottom: 0.1em solid;
}
a:visited {
  color: gray;
  border-bottom: 0.1em solid;
}
a:focus {
  border-bottom: 0.1em solid;
}
a:hover {
  border-bottom: 0.1em solid;
  background: #FFFFCC;
}
a:active {
  color: #FFFFCC;
  background: pink;
}
